.acronis-component-question{
   
    background-color: $colorDark;
}

.acronis-component-question-description {
    padding: 100px 0px 100px 0px ;
    background-color: $colorSecondary;
}

.acronis-component-question-margin{
    margin: 150px 0px 80px 0px ;
}

.acronis-component-border-text{
    padding: 0px 0px 0px 75px ;
}

.acronis-component-banner-principal{
    margin: 100px 0px 100px 0px ;
}

.acronis-component-banner-image-acronis{
    margin: 60px 0px 140px 0px ;

    img{
        width: 75% ;
    }
    
}

.acronis-component-margin {
    padding: 0px 70px 0px 70px;
}

.acronis-component-table-content{
    background-color: $colorGrayLight ;

}
.acronis-component-plataform-image{
    height: 170px;
}

.acronis-component-table-title{
    margin: 80px 0px 50px 0px ;
}

.acronis-component-table-item-padding{
    padding: 20px 25px 20px 25px !important ;
}
.acronis-component-table-item-header-padding{
    padding: 17px 36px 17px 36px !important ;
}

@media (max-width: 480px) {  


    .acronis-component-table-title{
        margin: 50px 0px 30px 0px ;
    }

    .acronis-component-question-margin{
        margin: 50px 0px 50px 0px ;
    }

    .header-component-subheader-icon-image {
        width: 85%;
    }

    .fontSizeLarge{
        font-size: 25px;
    }

    .acronis-component-margin{
        padding: 0px;
    }

    .acronis-component-title{
        margin: 10px ;
    }

    .acronis-component-question-description {
        padding: 50px 0px 50px 0px ;
    }

    .acronis-component-register-reunion {
        height: 100%;
        padding: 40px 0px 40px 0px ;
        background-size: 1639px 1392px;
     
    }

    .acronis-component-border-text{
        padding: 0px 15px 0px 35px ;
    }

    .acronis-component-image-acronis{
        margin: 30px 0px 30px 18px ;
    }

    .acronis-component-banner-principal{
        margin: 30px 20px 30px 0px ;
    }

    .acronis-component-border-text{
        border: 0px !important;
    }

    .acronis-component-banner-image-acronis{
        img{
            width: 100% ;
        }
    }

    .acronis-component-items{
        padding: 0px 20px 0px 20px;
        font-size: 14px;
        line-height: 1.8;
    }
    .acronis-component-question-acronis{
        font-size: 17px;
    }
}