.arriendo-notebook-component-btn-collapse{
    background-color: $colorPrimary;
    font-family: 'Montserrat-Medium';
    color: #fff;
    padding: 5px 15px 5px 20px ;
    border-radius: 2px;
    margin: 0px 0px 20px 0px ;


    
    img{
        width: 21px;
        float: right;
    }
}