

.arriendo-equipos-components-title-item{
    font-size: 40px;
}

.arriendo-equipos-list{
    list-style: inside;
}

.arriendo-equipos-component-title-width1{
    width: 100%;
    display: inline-block;
}

.arriendo-equipos-component-title-width2{
    width: 100%;
    display: inline-block;
}

.arriendo-equipos-components-title{
    font-size: 34px;
    padding : 0px 30px ;
}

.arriendo-equipos-components-image-width{
    width: 88%;
    height: 304px;
}

.arriendo-equipos-components-margin-top{
    margin-top: 80px ;
}

.arriendo-equipos-components-margin-top2{
    margin: 150px 0px 300px 0px ;
}

.arriendo-equipos-components-mbottom{
    margin-bottom: 300px !important;
}


@media (min-width: 768px) and (max-width: 1024px) {  
    .arriendo-equipos-components-padding {
        padding: 0px 45px !important;
    }

    .arriendo-equipos-components-mbottom{
        margin-bottom: 200px !important;
    }

}   



@media ( max-width: 480px ) {  

    .arriendo-equipos-components-padding{
        padding: 10px 15px 0px 15px ;
    }

    .arriendo-equipos-components-title{
        font-size: 20px;
        line-height: 1.4;
        font-size: 24px !important;
        padding: 23px 0px !important;
    }

    .arriendo-equipos-components-title-item{
        font-size: 25px;
        margin: 0px 0px 0px 20px ;
    }

    .arriendo-equipos-list{
        list-style: initial;
    }

    .arriendo-equipos-components-image-width{
        width: 90%;
        height: 100%;
    }

    .arriendo-equipos-components-mtop{
        margin-top: 30px ;
    }

    .arriendo-equipos-component-title-width1 {
        width: 26%;
    }

    .arriendo-equipos-component-title-width2 {
        width: 47%;
    }

    .arriendo-equipos-components-margin-top2 {
        margin: 100px 0px 140px 0px;
    }

    .arriendo-equipos-components-mbottom{
        margin-bottom: 100px !important;
    }
}