.contact-component-title{
    margin: 60px 0px 40px 0px ;
}

.contact-component-field{
    float: right;
}

.contact-component-padding{
    padding: 0px 42px ;
}

@media (max-width: 480px) {  

    .contact-component-field{
        float: none ;
    }

    .contact-component-padding{
        padding: 0px 20px ;
    }
}