.acronis-component-contact {
    background-color: $colorGray;
    height: 100%;
    padding: 45px 0px 45px 0px ;
}

.acronis-component-background {
    background-color: $colorGray;
}

.acronis-component-image-circle{
    height: 55px;
    width: 83px;
}