.contact-component-title{
    margin: 60px 0px 40px 0px ;
}

.contact-component-field{
    float: right;
}

.contact-component-padding{
    padding: 0px 42px ;
}


@media (min-width: 768px) and (max-width: 1024px) {  

    .contact-component-map-size{
        width: 87% !important;
    }
}   
@media (max-width: 480px) {  

    .contact-component-field{
        float: none ;
    }

    .contact-component-padding{
        padding: 0px 20px ;
    }

    .contact-component-title-size{
        font-size: 30px;
    }
}