.desarrollo-sistema-content{
    padding: 70px 100px 120px 100px ;
}

.desarrollo-sistema-content-icon{
    width: 38px;
}

.desarrollo-sistema-title{
    font-size: 31px;
    text-align: center;
}

.desarrollo-sistema-description{
    text-align: center;
    font-size: 18px;
}
.desarrollo-sistema-containt {

    //padding: 0px 20px 0px 20px;

    .desarrollo-sistema-containt-item-sm{
        display: inline-block;
        width: 10%;
    }
    .desarrollo-sistema-containt-item-md{
        display: inline-block;
        width: 67%;
    }
    .desarrollo-sistema-containt-item{
        display: inline-block;
        width: 16%;
        height: 103px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) { 
    .desarrollo-sistema-content{
        padding: 70px 40px 100px 40px ;
    }

    .desarrollo-sistema-title {
        font-size: 21px;
    }

    .desarrollo-sistema-description {
        font-size: 14px;
    }
}  

@media (max-width: 480px) {  
    
    .desarrollo-sistema-content{
        padding: 30px 30px 100px 30px ;
    }

    .desarrollo-sistema-title{
        font-size: 21px;
        text-align: left;
    }

    .desarrollo-sistema-description{
       text-align: left;
        font-size: 16px;
    }

    .desarrollo-sistema-content-icon {
        width: 25px;
    }

    .desarrollo-sistema-containt-item-sm{
        display: inline-block;
        width: 10% !important;
    }
    .desarrollo-sistema-containt-item-md{
        display: inline-block;
        width: 55% !important;
    }
    .desarrollo-sistema-containt-item{
        display: inline-block;
        width: 30% !important;
    }

    .desarrollo-sistema-aling-text-item{
        vertical-align: bottom;
    }

}

