.footer-component {
    padding : 0px;
    background-color: $colorDark;
}

.footer-component-logo{
    width: 48%;
}

.footer-component-icon{
    width: 50px ;
}

.footer-component-contact-icon{
    width: 50px;
    height: 50px;
    background-color: $colorWhite;
    display: inline-block;
    border-radius: 25px ;
    position: relative;
    top: -4px;
    margin: 0px 5px 0px 0px;
}

.footer-component-icon{
    width: 25px;
    height: 35px;
}

.footer-component-contact-text{
    font-size:11px
}

.footer-component-text-contact{
    width: 48% ;
}

@media (min-width: 1024px ) and ( max-width: 1366px ) {  

    .arriendo-equipos-components-title {
        font-size: 30px !important;
        padding: 23px 50px !important;
    }

    .arriendo-equipos-components-padding {
        padding: 0px 100px !important;
    }

 

        
}   
   
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {  


  
}   

@media (min-width: 768px) and (max-width: 1199px) {  

    .footer-component-contact-icon{
        width: 30px;
        height: 30px;
     }

     .footer-component-icon{
        height: 15px;
    }

    .footer-component-contact-text{
        font-size: 8px ;
    }
    .footer-component-text-contact{
        width: 100% ;
    }

    .footer-component {
        padding: 42px 0px ;
    
    }
}   

@media (max-width: 480px) {  

    .footer-component {
        padding : 30px 0px 30px 30px  ;
        background-color: $colorDark;
    }

    

    .footer-component-space{
        margin: 20px 0px 0px 0px ;
    }

    .footer-component-contact-icon{
        width: 40px;
        height: 40px;
    }

    .footer-component-icon{
        width: 21px;
        height: 23px;
    }

    .footer-component-contact-text {
        font-size: 14px;
    }

    .footer-component-text-contact{
        width: 100% ;
    }
}



