.footer-component {
    height: 200px;
    background-color: $colorDark;
}

.footer-component-logo{
    width: 48%;
}

.footer-component-icon{
    width: 50px ;
}

.footer-component-contact-icon{
    width: 50px;
    height: 50px;
    background-color: $colorWhite;
    display: inline-block;
    border-radius: 25px ;
    position: relative;
    top: -4px;
    margin: 0px 5px 0px 0px;
}

.footer-component-icon{
    width: 25px;
    height: 35px;
}

@media (max-width: 480px) {  

    .footer-component {
        height: 100% !important;
        background-color: $colorDark;
    }

    .footer-component-space{
        margin: 20px 0px 0px 0px ;
    }

    .footer-component-contact-icon{
        width: 35px;
        height: 35px;
    }

    .footer-component-icon{
        width: 19px;
        height: 18px;
    }
}



