.header-component{
    height: 125px;
    width: 100%;
    background-color: $colorPrimary;
}

.header-component-logo{
    width : 41% ;
}

.header-component-subheader {
    height: 63px;
    background-color: $colorDark;
}

.header-component-subheader-link{
    font-size: 13px;
}

.header-component-subheader-icon-image{
    width: 18%;
}



@media (min-width: 1200px) { }   
   
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1199px) {  

    .header-component-subheader-icon-image{
        width: 42% ;
    }

    .header-component-logo {
        width: 74%;
    }

    .header-component-phone{
        font-size: 22px ;
        margin: 0px  0px 20px  0px ;
    }
}   
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) {  }   
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {  

    .header-component{
        height: 50px;
    }

    .header-component-logo{
        width : 76% !important ;
    }
}