.header-component{
    height: 100px;
    width: 100%;
    background-color: $colorPrimary;
}

.header-component-logo{
    width : 36% ;
}

.header-component-subheader {
    height: 63px;
    background-color: $colorDark;
    a {
        width: 50%;
        margin : 0px 22px ; 
    }
}

.header-component-subheader-link{
    font-size: 14px;
}

.header-component-subheader-icon-image{
    width: 3%;
}

.arriendo-equipos-components-title {
    font-size: 30px !important;
    padding: 23px 50px !important;;
}

.header-component-subheader-padding{
    padding: 13px 0px ;
}
.header-component-link{
    font-size: 18px
}


@media (min-width: 1024px ) and ( max-width: 1366px ) {  


    .header-component-logo {
        width: 50% !important;
    }

    .header-component-subheader-link {
        font-size: 10px;
        display: flex;
        div{
            margin : 7px 0px 0px 0px;
        }
    }


    .header-component-link{
        font-size: 13px
    }

    .arriendo-equipos-components-title {
        font-size: 30px !important;
        padding: 23px 50px !important;
    }

    .arriendo-equipos-components-padding {
        padding: 0px 100px !important;
    }

    .header-component-subheader-icon-image {
        width: 30px !important;
    }
    .header-component-subheader-padding{
        padding: 10px 20px !important;
    }

    .header-component-subheader {
        height: 50px !important;
        a {
            margin: 10px 14px !important;
            display: inline !important;
        }
    }

    .header-component-subheader-link{
        font-size: 10.5px;
    }

}   
   
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {  

    .header-component{
        height: 85px;
    }

    .header-component-logo {
        width: 67%;
    }

    .header-component-phone{
        font-size: 22px ;
        margin: 0px  0px 20px  0px ;
    }

    .menu-component-size{
        width: 20%;
    }

    .header-component-subheader-icon-image {
        width: 30px;
    }
    .header-component-subheader-padding{
        padding: 10px 20px ;
    }
    .header-component-subheader {
        height: 50px;
        a {
            margin : 10px 38px ; 
        }
    }
}   
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) {  }   
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {  

    .header-component{
        height: 50px;
    }

    .header-component-logo{
        width : 95% !important ;
    }


    .header-component-subheader {
        height: 45px;
    }

    .header-component-subheader-icon-image {
        width: 8%;
    }
    .header-component-subheader {
        a {
            margin : 10px 0px 0px 20px ; 
        }
    }

    .header-component-subheader-padding{
        padding: 8px 10px 0px 11px ;
    }
    .header-component-menu-float{
        float: right ;
    }
}