.header-component{
    height: 100px;
    width: 100%;
    background-color: $colorPrimary;
}

.header-component-logo{
    width : 41% ;
}

.header-component-subheader {
    height: 63px;
    background-color: $colorDark;
}

.header-component-subheader-link{
    font-size: 13px;
}

.header-component-subheader-icon-image{
    width: 18%;
}

.arriendo-equipos-components-title {
    font-size: 30px !important;
    padding: 23px 50px !important;;
}



@media (min-width: 1024px ) and ( max-width: 1366px ) {  

    .header-component-subheader-icon-image{
        width: 20% !important;
    }

    .header-component-logo {
        width: 62% !important;
    }

    .header-component-subheader-link {
        font-size: 10px;
        display: flex;
        div{
            margin : 7px 0px 0px 0px;
        }
    }

    .header-component-subheader {
        height: 56px;
    }

    .header-component-link{
        font-size: 10px
    }

    .arriendo-equipos-components-title {
        font-size: 30px !important;
        padding: 23px 50px !important;
    }

    .arriendo-equipos-components-padding {
        padding: 0px 100px !important;
    }

 

        
}   
   
/* Tablets en horizonal y escritorios normales
   ------------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 1024px) {  

    .header-component{
        height: 85px;
    }

    .header-component-subheader-icon-image{
        width: 36% ;
    }

    .header-component-logo {
        width: 74%;
    }

    .header-component-phone{
        font-size: 22px ;
        margin: 0px  0px 20px  0px ;
    }

    .menu-component-size{
        width: 100%;
    }
}   
/* Móviles en horizontal o tablets en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 767px) {  }   
/* Móviles en vertical
   ------------------------------------------------------------------------- */
@media (max-width: 480px) {  

    .header-component{
        height: 50px;
    }

    .header-component-logo{
        width : 95% !important ;
    }


    .header-component-subheader {
        height: 55px;
    }
}