.redes-wan-component-item-number{
    font-size: 65px;
}

.redes-wan-component-item-title  ,
.redes-wan-component-item-number {
    width: 100% ;
    display: inline-block;
}

.redes-wan-component-mbottom{
    margin-bottom: 100px
}

.redes-wan-component-title-margin{
    margin: 150px 0px 50px 0px ;
}

.redes-wan-component-title-padding{
    padding: 0px 130px ;
}

.redes-wan-component-title{
    font-size: 30px;
    margin: 50px 0px;
}
.redes-wan-component-description{
    font-size: 21px ;
}




@media (min-width: 1024px ) and ( max-width: 1366px ) {  
    
    .redes-wan-component-description {
        font-size: 21px !important;
    }

}   
   
@media (min-width: 768px) and (max-width: 1024px) {  

    .redes-wan-component-title-padding {
        padding: 0px 17px;
    }
    .redes-wan-component-description{
        font-size: 16px ;
    }
}   

@media (max-width: 480px) {  

    .redes-wan-component-item-number  {
        width: 25% ;

    }
    .redes-wan-component-item-title {
        width: 60% ;
    }
    .redes-wan-component-item{
        margin: 35px 0px 0px 0px ;
    }

    .redes-wan-component-title-padding{
        padding: 0px 16px ;
    }
    .redes-wan-component-description{
        font-size: 15px ;
    }
    .redes-wan-component-title{
        font-size: 20px;
        margin: 25px 0px;
    }
    .redes-wan-component-title-margin {
        margin: 70px 0px 0px 0px;
    }
}