.seguridad-component-padding-title{
    padding: 0px 0px 0px 90px;
}

.seguridad-component-image{
    width: 100%;
    height: 100%;
}

.seguridad-component-item{
    height: 200px;
    a{
        
        &:hover{

            .seguridad-component-item-gradient-up{
    
                transition: height  1s ; 

                height: 70% ;
            }
            .seguridad-component-item-gradient-down{
                transition: height  1s ; 

                height: 30% ;
            }
        }
    }

    img{
        width: 10%;
        float: right;
        position: relative;
        top: -7px;
    }
}

.seguridad-component-padding{
    padding: 150px 0px 200px 0px ;
}

.seguridad-component-item-text-padding{
    padding: 0px 20px 5px 20px ;
}

.seguridad-component-item-gradient-up{
    transition:  height 1s, transform 1s;
    height: 80% ;
}
.seguridad-component-item-gradient-down {
    transition:  height 1s, transform 1s;
    height: 20% ;
}
@media (min-width: 768px) and (max-width: 1199px) { 


    .seguridad-component-padding{
        padding: 100px 12px 100px 12px ;
    }

    .seguridad-component-padding-text{
        line-height : 1.5 ;
        font-size: 18px;
    }
}   

@media (max-width: 480px) {  

    .seguridad-component-image{
        width: 70%;
        height: 100%;
    }

    .seguridad-component-padding-title{
        padding: 0px 10px 0px 10px;
        margin-top: 40px;
    }

    .seguridad-component-description{
        font-size: 19px;
    }

    .seguridad-component-item{
    
        img{
            width: 10%;
            float: right;
            position: relative;
            top: -3px;
        }
    }

    .seguridad-component-padding{
        padding: 80px 12px 140px 12px ;
    }

    .seguridad-component-padding-text{
        line-height : 1.5 ;
        font-size: 18px;
    }

    .seguridad-component-item{
        a{
            
            &:hover{
    
                .seguridad-component-item-gradient-up{
        
                    transition: height  1s ; 
    
                    height: 60% ;
                }
                .seguridad-component-item-gradient-down{
                    transition: height  1s ; 
    
                    height: 40% ;
                }
            }
        }
    }
}

