.seguridad-contador-component-title-secondary{
    font-size: 60px;
}

.seguridad-contador-component-item-padding{
    padding: 0px 20px 0px 20px; ;
}



@media (max-width: 480px) {  

    .seguridad-contador-component-title-secondary{
        font-size: 37px;
    }

    
}
