$colorPrimary    : #0f4dbc ;
$colorSecondary  : #5d6771 ;
$colorWhite      : #fff    ;
$colorDark       : #1e1f24 ;
$colorGray       : #f2f2f2 ;
$colorGrayLight  : #bfbfbf ;
$blueLight       : #66b3ff ;
$colorBackgroundInput : #e2e2e2 ;


