$colorPrimary    : #0f4dbc ;
$colorSecondary  : #5e6a71 ;
$colorWhite      : #fff    ;
$colorDark       : #262626 ;
$colorGray       : #f2f2f2 ;
$colorGrayLight  : #bfbfbf ;
$blueLight       : #66b3ff ;



